# Configuración de Base de Datos PostgreSQL
DB_NAME=marcheli_db
DB_USER=admin
DB_PASSWORD=password123
DB_PORT=5432

# Configuración de Base de Datos MongoDB
MONGO_USER=admin
MONGO_PASSWORD=password123
MONGO_PORT=27017

# Configuración del Servidor
PORT=3000
NODE_ENV=development
